// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--primary: #231900; // Site main color - (Основний колір сайту)
	--secondary: #fff; // Site secondary color - (Додатковий колір сайту)
	--accent: #ffcc00; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
}
